@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,100;1,200;1,300;1,400&display=swap');

.App{
    min-height:100vh;
    display:flex;
    background-color: aqua;
    background-size: cover;
    background-position: center;
}